<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>EataBurger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
	</head>
	<body>
        <container>
		{{{ body }}}
        </container>
	</body>
</html>
