<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>EataBurger</title>
		<link href="https://fonts.googleapis.com/css2?family=Bellota&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	
	<div class = "wrapper">
		<body>
			<h1><center>Go ahead... Eat a Burger!</center></h1>
			{{{ body }}}
			<center><button class = "btn deleteBtn">Throw it all in the trash! Start fresh!</button></center>
		</body>
	</div>
</html>
