body {
  background-image: url(../img/diner.jpg);
  background-color: white;
}
h1, h2, h3, h4, h5, p, li, ul{ 
  color: white; 
}

h1{ 
  font-size: 24px;
}

h2{ 
  font-size: 20px;
}

h3, h4, h5{ 
  font-size: 18px;
}

li, ul{ 
  font-size: 12px; 
}