body {
  background-image: url(../img/burger_bw.jpg);
  background-color: white;
}

h1{ 
  font-size: 24px;
}

h2{ 
  font-size: 20px;
}

h3, h4, h5{ 
  font-size: 18px;
}

li, ul{ 
  font-size: 12px; 
}