body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fvector%2Fpainted-burger-great-delicious-sandwich-black-and-white-grunge-retro-poster-vector-gm1193535093-339526119&psig=AOvVaw324IYZIK95KA6VPgC53BYx&ust=1598049996942000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKi-tKzuqusCFQAAAAAdAAAAABAQ");
    background-repeat: repeat;
    background-color: #cccccc;
  }